<script type="text/ng-template" id="shared.iframe">
  <html>
    <head>
      <script type="text/javascript" src="[[ script.url ]]" ng-repeat="script in gist.scripts">\x3C/script>
      <link rel="stylesheet" type="text/css" href="[[ style.url ]]" ng-repeat="style in gist.styles" />
    </head>
    <body ng-auto-title="[[ gist.name ]]" ng-bind-html="gist.template">
      
    </body>
  </html>
</script>
