<script type="text/ng-template" id="lib.iframe">
  <html>
    <head>
      <script type="text/javascript" src="[[ script.url ]]" ng-repeat="script in scripts">\x3C/script>
      <link rel="stylesheet" type="text/css" href="[[ style.url ]]" ng-repeat="style in styles" />
    </head>
    <body ng-bind-html-unsafe="template"></body>
  </html>
</script>
